<% include partials/header %>
    <div class="container">
        <% if(currentUser){ %>
            <header class="jumbotron">
                <h1 style="text-align: center">Create a New Tweet</a>
                    <div style="width: 30%; margin: 25px auto;">
                        <form action="/tweets" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="tweet" placeholder="Tweet">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Tweet!</button>
                            </div>
                        </form>
                    </div>
            </header>
        <% } %>

        <div class="row" style="width: 75%; margin: auto;">
            <% tweets.forEach(function(tweet){ %>
                <div class="row" style="border-bottom: 1px solid black; margin-bottom: 15px; padding: 10px;">
                    <div class="col-md-1">
                        <div class="thumbnail" style="height: 50px; width: 50px; margin: auto;">
                            <img src="<%= tweet.image %>">
                        </div>
                    </div>
                    <div class="col-md-11">
                        <p><%= tweet.user.username %></p>
                        <h3><%= tweet.tweet %></h3>
                        <p><%= tweet.date.toString().substring(0, 21) %></p>
                        <% if(currentUser){ %>
                            <% if(currentUser.username == tweet.user.username){ %>
                                <!-- 
                                We have to use ?_method (method-override) to use the DELETE route
                                that we are using in our routes/index.js file 
                                -->
                                <form action='/tweets/<%= tweet._id %>?_method=DELETE' method='POST'>
                                    <button class='btn btn-danger'>Delete</button>
                                </form>  
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>


<%include partials/footer %>