<% include partials/header %>
    <div class="container">
        <% if(currentUser){ %>
            <header class="jumbotron twitter" style="width: 75%; margin: 0 auto; margin-bottom: 50px; padding: 20px;">
                <h2 style="text-align: center">Create a New Tweet</h2>
                <div style="width: 75%; margin: 25px auto;">
                    <form action="/tweets" method="POST">
                        <div class="form-group">

                            <textarea id="tweetBox" class="form-control" type="text" maxlength="200" onkeyup="limitTextCount('tweetBox', 'tweetCount', 200);" onkeydown="limitTextCount('tweetBox', 'tweetCount', 200);" name="tweet" placeholder="Tweet"></textarea>
                            <br>

                        </div>
                        <p id="tweetCount">200 character(s) to go..</p>
                        <div class="form-group">
                            <button class="btn btn-lg btn-default"><i class="fa fa-twitter" aria-hidden="true" style="padding-right: 10px;"></i>Tweet!</button>
                        </div>
                    </form>
                </div>
            </header>
            <% } %>

                <div class="row" style="width: 75%; margin: auto;">
                    <% tweets.forEach(function(tweet){ %>
                        <div class="col-sm-1">
                                    <img  class="thumbnail" style="height: 50px; width: 50px;" src="<%= tweet.image %>">
                                </div>
                                <div class="col-sm-11" style="padding-left: 25px;">
                                    <p style="margin-bottom: 0">
                                        <strong><%= tweet.user.username %></strong> | <%= tweet.date.toString().substring(4, 15) %>
                                    </p>
                                    <p>
                                        <%= tweet.tweet %>
                                    </p>
                                    <ul class='list-inline'>
                                        <li><i class="fa fa-reply" aria-hidden="true" alt="Replies: "></i>
                                            <%= tweet.meta.replies %>
                                        </li>
                                        <li><i class="fa fa-retweet" aria-hidden="true" alt="Retweets: "></i>
                                            <%= tweet.meta.retweets %>
                                        </li>
                                        <li><i class="fa fa-heart" aria-hidden="true" alt="Likes: "></i>
                                            <%= tweet.meta.likes %>
                                        </li>
                                    </ul>
                                    <p>
                                        <!-- If there is a user logged in -->
                                        <% if(currentUser){ %>
                                            <!-- check to see if user logged in owns this tweet -->
                                            <% if(currentUser.username == tweet.user.username){ %>
                                                <!-- 
                                                    We have to use ?_method (method-override) to use the DELETE route
                                                    that we are using in our routes/index.js file 
                                                -->
                                                <form action='/tweets/<%= tweet._id %>?_method=DELETE'  style="display: inline; float: right; position: relative; top: -25px; margin-bottom: -20px" method='POST'>
                                                    <button class='btn btn-danger btn-xs'>Delete</button>
                                                </form>
                                            <% } %>
                                        <% } %>
                                    </p>
                                    <hr>
                                </div>
                        <% }); %>
                </div>

    </div>


    <%include partials/footer %>