<% include partials/header %>
    <div class="container">
        <% if(currentUser){ %>
            <header class="jumbotron twitter">
                <h2 class="text-center">Create a New Tweet</h2>
                <div class="createATweet">
                    <form action="/tweets" method="POST">
                        <div class="form-group">

                            <textarea id="tweetBox" class="form-control" type="text" maxlength="200" onkeyup="limitTextCount('tweetBox', 'tweetCount', 200);" onkeydown="limitTextCount('tweetBox', 'tweetCount', 200);" name="tweet" placeholder="Tweet"></textarea>
                            <br>

                        </div>
                        <p id="tweetCount">200 character(s) to go..</p>
                        <div class="form-group">
                            <button class="btn btn-lg btn-default"><i class="fa fa-twitter" aria-hidden="true" style="padding-right: 10px;"></i>Tweet!</button>
                        </div>
                    </form>
                </div>
            </header>
            <% } %>

                <div class="row" id="feed">
                    <% tweets.forEach(function(tweet){ %>
                        <div class="row">
                            <!-- Tweet Image -->
                            <div class="col-sm-1">

                                <% if(currentUser) { %>
                                    <% if(currentUser.username == tweet.user.username){ %>
                                        <img class="thumbnail" src="<%= currentUser.user.image %>">
                                        <% } else { %>
                                            <img class="thumbnail" src="<%= tweet.image %>">
                                            <% } %>
                                                <% } %>


                            </div>
                            <!-- /.col-sm-1 -->

                            <!-- Tweet -->
                            <div class="col-sm-11 col-tweet">
                                <p>
                                    <strong><%= tweet.user.username %></strong> |
                                    <%= tweet.date.toString().substring(4, 15) %>
                                </p>

                                <p>
                                    <%= tweet.tweet %>
                                </p>

                                <ul class='list-inline'>
                                    <li><i class="fa fa-reply" aria-hidden="true" alt="Replies: "></i>
                                        <%= tweet.meta.replies %>
                                    </li>
                                    <li><i class="fa fa-retweet" aria-hidden="true" alt="Retweets: "></i>
                                        <%= tweet.meta.retweets %>
                                    </li>
                                    <li><i class="fa fa-heart" aria-hidden="true" alt="Likes: "></i>
                                        <%= tweet.meta.likes %>
                                    </li>
                                </ul>

                                <p>
                                    <!-- If there is a user logged in & profile viewing is the same as user -->
                                    <% if(currentUser){ %>
                                        <% if(currentUser.username == tweet.user.username){ %>
                                            <form action='/tweets/<%= tweet._id %>?_method=DELETE' class="delete-form" method='POST'>
                                                <button class='btn btn-danger btn-xs'>Delete</button>
                                            </form>
                                            <% } %>
                                                <% } %>
                                </p>
                                <hr>
                            </div>
                            <!-- /.col-sm-11 -->
                        </div>
                        <!-- /.row -->
                        <% }); %>
                </div>

    </div>


    <%include partials/footer %>